body {
    background-color: var(--color-page-background);
    font-family:'Times New Roman', Times, serif;
}
h1 {
    text-align: center;
    color: var(--color-text-bigheader);
}
h2 {
    color: var(--color-text);
    text-align: left;
}
p {
    color: var(--color-text);
}